@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto+Mono:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
}
nav a:hover{
    background-color: lightgrey;
    color: white;
}

#hero-msg h1{
    text-align: center;
}

#hero-msg h4 {
text-align: center;
color: white;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: white;
}

header {
    background-color:#396E94;
    display: grid;
}

.book{
background-color: #1b60b6;
color: #000;
padding: 15px 30px;
border-radius: 5px;
}

.join{
background-color: #1b60b6;
color: white;
text-decoration: none;
padding: 15px 30px;
border-radius: 5px;
}
.book:hover{
    background-color: skyblue;

}

.join:hover{
background-color:skyblue ;
font-family: Arial, Helvetica, sans-serif;
color:white;
}

.msg{
padding: 35px;
line-height: 1.5em;
background-color: #6f7364;
line-height: 1.5em;

}

footer{
background-color:  #396E94;
color: white;
padding: 25px 50px;
margin-top: 200px;
}

.home-title{
color: #000;
font-family: "Roboto Mono";
font-size: 2em;
margin-top: 10px;

}

h4{
color:white
}


.book:hover{
    color: #fff;

}

.join:hover{
color:  white;
}
.msg p{
color:white ;
padding-bottom: 15px;
font-size: .8em;
}

footer a{
color: white;
text-decoration: none;
}
footer a:hover{
  color: lightgray;

}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-img{
    width: 100%;
}

footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    

.book{
    background-color: #1b60b6;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.join 
{
    background-color: #1b60b6;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

body {
    background-color: white;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: Manrope, Helvetica, sans-serif;
}
h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img {
    padding-top: 15px;
}
.rivers-card {
margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.msg h2{
    font-family: "Roboto Mono";
}

.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
    