@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto&display=swap');
a {
    font-size: 35px;
    /* padding-bottom: -50px; */
}
nav {
    display: flex;
    justify-content: space-around;

}

nav a{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    font-family: "Roboto";
}
nav a:hover{
    background-color: lightgrey;
    color: white;
}

header {
    background-color:#396E94;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 150px;
    height: 125px;
}

.main-img{
    width: 100%;
    height: 600px;
}
.main-2-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Title_text{
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    }
footer a:hover{
      color: lightgray;
    
    }
    footer p {
        font-size: 1.2em;
    }    
    footer p a:hover {
        text-decoration: underline;
    }   

 footer{
        background-color:  #396E94;
        color: white;
        padding: 25px 50px;
        margin-top: 200px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        }
        footer .social img {
            padding-top: 15px;
        }
body {
    background-color: white;
}

h1 {
    font-family: "Roboto";
    font-size: 60px;
}

.Description {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4em;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    
}
.hosue_images {
    width: 400px;
}